<html>
    <head>
        <title>Named Entity Recognition Prediction</title>
    </head>

    <body>
        <div>
            <h1 style="background-color: #ADD8E6; text-align: center;">Display Named Entity Recognition</h1>
        </div>

        <div>
            <h2 style="background-color: #ffcccb;">Original Text</h2>
            {{ rawtext}}
        </div>

        <div>
            <h2 style="background-color: #90EE90;">Result Text</h2>
            {{ htmlval|markdown }}
        </div>

    </body>
</html>